{% extends 'manager/basic_manager.html'%}
    
{% block title %}Create DT{% endblock %}

{% block body %} 

    <div class="container mt-3 shadow-lg p-4" style="width: 35%;">
      <h2 class="text-center"> Register Patient</h2>
      <form action="{% url 'ManagerHome' %}" method="POST" style="align-items: center;"> {% csrf_token %}
        <div class="mb-2">
          <label for="uusername" class="form-label">Name</label>
          <input type="text" class="form-control" id="uusername" name="uusername" autocomplete="off" required>
        </div>
        <div class="mb-2">
          <label for="uemail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="uemail" aria-describedby="emailHelp" name="uemail" autocomplete="off" required>
        </div>
        <div class="mb-2">
          <label for="upassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="upassword" name="upassword" autocomplete="off" required>
        </div>
        <div class="mb-2">
          <label for="ucpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="ucpassword" name="ucpassword" autocomplete="off" required>
        </div>
        <div class="mb-2">
          <label for="umobile" class="form-label">Mobile Number</label>
          <input type="number" size="10" class="form-control" id="umobile" name="umobile" autocomplete="off" required>
        </div>
        
        <button style="margin-top: 20px;margin-left: 204px;" type="submit" class="btn btn-primary" id = "bxc"> Create </button>
        
      </form>
    </div>
    
{% endblock %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("myForm");
  
      form.addEventListener("submit", function (e) {
          e.preventDefault(); // Prevent the form from submitting normally
          
          // Simulate a successful submission (you should replace this with your actual submission logic)
          setTimeout(function () {
              alert("Data recorded successfully!");
              window.closePopupAndRedirect();
          }, 2000); // 2000 milliseconds (2 seconds) for demonstration purposes
      });
  
      window.closePopupAndRedirect = function () {
          // Close the pop-up and redirect after 3 seconds
          setTimeout(function () {
              window.alert("Redirecting to Home Page...");
              window.location.href = "{% url 'ManagerHome' %}"; // Replace "/home" with your home page URL
          }, 3000); // 3000 milliseconds (3 seconds)
      };
  });
</script>
  {% endblock %}
  