<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Add any necessary CSS stylesheets or Bootstrap CDN links here -->
</head>
<body style="margin-top: 50px; margin-left: 50px; margin-bottom: 50px; margin-right: 50px;">
    <table class="table table-striped" style="border: 10px;">
        <thead class="thead-dark"  style="background-color: #f2f2f2 !important;">
        <tr>
                <th scope="col" style="width: 100px;">S. No</th>
                <th scope="col">API Purpose</th>
                <th scope="col">API</th>
                <th scope="col">JSON Response</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><b>User-initiated discovery & linking of health records</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Discovery of the patient’s information</td>
                <td>{CHARAK_HOST}/v1.0/care-contexts/discover</td>
                <td><b>RequestId</b> string,
                    <b>Timestamp</b> string($date-time), 
                    <b>TransactionId</b> string($uuid), 
                    <b>Patient</b> 
                    {id, verifiedIdentifiers, unverifiedIdentifiers, name, gender, yearOfBirth}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Link initiation</td>
                <td>{CHARAK_HOST}/v1.0/links/link/init</td>
                <td><b>RequestId</b> string($uuid),
                    <b>Timestamp</b> string($date-time), 
                    <b>TransactionId</b> string($uuid),
                    <b>patient</b> 
                    {id string, referenceNumber string, careContexts}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Link Confirmation</td>
                <td>{CHARAK_HOST}/v1.0/links/link/confirm</td>
                <td><b>RequestId</b>   string($uuid), 
                    <b>Timestamp</b>   string($date-time), 
                    <b>Confirmation</b>
                     {linkRefNumber string, token string}</td>
            </tr>
            
                 
            <tr>
                <th scope="row">2</th>
                <td ><b>SPIN initiated linking of health records</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Initialize Authentication from SPIN, Demographic auth mode is commonly used</td>
                <td>{CHARAK_HOST}/v1.0/users/auth/init</td>
                <td><b>RequestId</b> string($uuid),
                    <b>Timestamp</b> string($date-time), 
                    <b>Query</b> {id string, purpose string, authMode string, requester}, 
                    Subjected to CM specific capability: 
                    MOBILE_OTP for SMS OTP,
                    DIRECT for authentication directly with the patient (e.g., Mobile App, SMS), 
                    AADHAAR_OTP for auth using OTP sent to Aadhaar number, 
                    DEMOGRAPHICS for auth using demographic verification.</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>token</td>
                <td>{CHARAK_HOST}/v1.0/links/link/init</td>
                <td><b>RequestId</b> string($uuid),
                    <b>Timestamp</b> string($date-time), 
                    <b>TransactionId</b> string, 
                    <b>Credential</b> {authCode String, demographic {Name String, gender, dateOfBirth String, identifier}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Notification API in case of DIRECT mode of authentication</td>
                <td>{CHARAK_HOST}/v1.0/links/link/confirm</td>
                <td><b>AccessToken string</b></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>When there is new health record for the patient, SPIN to initiate care-context linking for patient using linking token</td>
                <td>{CHARAK_HOST}/v1.0/links/link/confirm</td>
                <td><b>link</b>
                    {patient {referenceNumber, display},
                    CareContext {referenceNumber, display}}</td>
            </tr>
            
            <tr>
                <th scope="row">3</th>
                <td ><b>SPIN initiated notification for new health records</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>SPIN has mobile number of patients. SPIN notifies CHARAK when new health record is ready for sharing with patient.</td>
                <td>{{CHARAK_HOST}}/v1.0/links/context/notify</td>
                <td><b>RequestId</b> string($uuid),
                    <b>Timestamp</b> string($date-time), 
                    <b>Acknowledgement</b>
                    <b>Error</b></td>
            </tr>
            
            <tr>
                <th scope="row">4</th>
                <td ><b>Consent Flow</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Notification of consents to service information providers consent request granted, consent revoked, consent expired.</td>
            
                <td>{CHARAK_HOST}/v1.0/consents/SPIN/on-notify</td>
                <td><b>RequestId</b> string($uuid)
                    <b>Timestamp</b> string($date-time)
                    <b>Notification</b>
                    <b>Id string</b></td>
            </tr>
            
            <tr>
                <th scope="row">5</th>
                <td ><b>Data Request and Transfer</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Health Information Data Request</td>
                <td>{{CHARAK_HOST}}/v1.0/health-information/SPIN/request</td>
                <td><b>RequestId</b> string($uuid), 
                    <b>Timestamp</b> string($date-time),
                    <b>TransactionId</b> string($uuid) 
                    HiRequest</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Transfer the data at Data Push URL</td>
                <td>{Data Push URL} received on above call /v1.0/health-information/SPIN/request</td>
                <td><b>RequestId</b> string($uuid), 
                    <b>Timestamp</b> string($date-time),
                     <b>HiRequest</b> {transactionId string($uuid), sessionStatus string}, 
                     <b>Error</b> {code integer, message string}, Resp {requestId string($uuid)}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Notification to gateway on Transfer of data to HIU</td>
                <td>{GATEAY_HOST}/v1.0/health-information/notify</td>
                <td><b>PageNumber</b> integer,
                     <b>PageCount</b> integer, 
                     <b>TransactionId</b> string($uuid),
                      <b>Entries</b>,
                    <b>KeyMaterial</b> {cryptoAlg string($string), Curve string($string), DhPublicKey, Nonce string($32 byte string)}</td>
            </tr>
            
            <tr>
                <th scope="row">6</th>
                <td ><b>Consent Flow</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Notification of consents to service information providers consent request granted, consent revoked, consent expired.</td>
                <td>{CHARAK_HOST}/v1.0/consents/SPIN/on-notify</td>
                <td><b>RequestId</b> string($uuid), 
                    <b>Timestamp</b> string($date-time),
                     <b>Notification</b>,
                     <b> Id string</b></td>
            </tr>
              
            <tr>
                <th scope="row">7</th>
                <td ><b>Share Patient Profile with SPIN</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Sharing patient's profile details to SPIN</td>
                <td>{CHARAK_HOST}/v1.0/patients/profile/share</td>
                <td><b>RequestId</b> string($uuid), 
                    <b>Timestamp</b> string($date-time), 
                    <b>Intent</b>,
                    <b>Location</b>, 
                    <b>Profile</b></td>
            </tr>
            
            <tr>
                <th scope="row">8</th>
                <td ><b>Status Notification (ACTIVE/DEACTIVATED/DELETED)</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Send patient’s status (ACTIVE/DEACTIVATE/DELETED) to the SPIN</td>
                <td>{CHARAK_HOST}/v1.0/patients/status/on-notify</td>
                <td><b>RequestId</b> string($uuid), 
                    <b>Timestamp</b> string($date-time), 
                    <b>Acknowledgment</b>,
                    <b>Error</b> {Code, Message, resp}</td>
            </tr>
             <tr>
                <th scope="row">9</th>
                <td><b>JWT Certificate Certification
                    </b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}/v1.0/certs</li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                          <b>keys</b>	{
                                e	string
                                kid	string
                                kty	string
                                n	string
                                use	string
                                x5c	string
                                x5t	string
                                x5t#S256 string
                                alg	string
                                }
                        </li>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td><b>Monitoring</b></td>
                <td></td>
                <td></td>
                </tr>
                <td></td>
                <td>Heartbeat monitoring</td>
                <td>{CHARAK_HOST}/v1.0/service_provider/heartbeat</td>
                <td><b>Timestamp</b> string($date-time),
                    <b>Status string</b>, 
                    <b>Error</b> {Code integer, Message string}</td>
            </tr>
            
            <tr>
                <th scope="row">11</th>
                <td><b>Communication API</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">
                        {CHARAK_HOST}/v1.0/service_provider/communication
                       </li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>Services</b>: [ { "id": "service1", "provider_id": "user1", "name": "Heart Checkup", "description": "Complete heart checkup including ECG, echo, and stress test.", "price": "$200" } ]
                            <b>Appointments</b>: [ { "id": "appointment1", "consumer_id": "user2", "service_id": "service1", "status": "confirmed", "date_time": "2023-09-15T10:00:00Z" } ]
                           <b>Messages</b>: [ { "id": "message1", "sender_id": "user2", "receiver_id": "user1", content: "Hello, I would like to book an appointment for the Heart Checkup service.", "date_time_sent": "2023-09-12T07:08:07Z" } ] 
                            </li>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td><b>Forum</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                    
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}/c1.0/forum/discover</li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>RequestId</b> string,
                            <b>Timestamp</b> string($date-time),
                            <b>TransactionId</b> string($uuid),
                            <b>Patient</b>	{
                                                id
                                                verifiedIdentifiers
                                                unverifiedIdentifiers
                                                name
                                                gender
                                                yearOfBirth},
                            </li>
            
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td><b>Insurance API</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">

                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}/v1.0/service_provider/insurance</li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>Insurance_providers</b>: [ { "id": "provider1", "name": "ABC Insurance", "email": abc@example.com", "location": "India", 
                             <b>Insurance_plans</b>: [ { "id": "plan1", "name": "Comprehensive Health Insurance", "description": "Covers outpatient, inpatient, and emergency services.", "price": "$500 per year" } ]
                            </li>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td><b>Reviews and Ratings</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}}/v1.0/service_provider/reviews-rating</li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>Reviews</b>: [ { "id": "review1", "user_id": "user2", "service_id": "service1", rating: 4.5, "comment": "Great service! The checkup was thorough and the doctor was very friendly.", "date_time_posted": "2023-09-15T12:00:00Z" }
                            </li>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td><b>Pharmacist and Pathologist Information Retrieval</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}/v1.0/pharmacists
                        {CHARAK_HOST}/v1.0/pathologists
                        </li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>Pharmacists</b>: [ { "id": "pharmacist_id", "name": "pharmacist_name", "experience": "years_of_experience", "specialization": "area_of_specialization", "location": "pharmacist_location" }

                            <b>Pathologists</b>: [ { "id": "pathologist_id", "name": "pathologist_name", "experience": "years_of_experience", "specialization": "area_of_specialization", "location": "pathologist_location" }
                            </li>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td><b>Doctor and Prescription Information Retrieval</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}/v1.0/doctors
                        </li>
                        <li class="row" style="margin-bottom: 10px;">{CHARAK_HOST}/v1.0/prescription
                            </li>    
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>Doctors</b>: [ { "id": "doctor_id", "name": "doctor_name", "experience": "years_of_experience", "specialization": "area_of_specialization", "location": "doctor_location" }

                            </li>
                            <li class="row" style="margin-bottom: 10px;">
                                <b>Prescriptions</b>: [ { "id": "prescription_id", "patient_id": "patient_id", "doctor_id": "doctor_id", "date_issued": "date_prescription_issued", "medications": [ { "name": "medication_name", "dosage": "dosage_instructions" }, ... ] }, ... ]
    
                                </li>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td><b>Comprehensive Patient Summary</b>
                    <div style="margin-top: 20px;">
                    <ul style="padding: 0; margin: 0;">
                </div>
                </ul>
                </td>
                <td>
                    <br>
                    <div style="margin-top: 20px;">
                    <li class="row" style="margin-bottom: 10px;">
                        {CHARAK_HOST}/v1.0/patient-summary
                        </li>
                    </div>
                </td>
                <td>
                    <div style="margin-top: 20px;">
                        <li class="row" style="margin-bottom: 10px;">
                            <b>Patient_summary</b>: { "id": "patient_id", "name": "patient_name", "age": "patient_age", "gender": "patient_gender", "location": "patient_location", "medical_history": [ { "disease_name": "disease_name", "diagnosed_date": "diagnosed_date", "treatment_status": "treatment_status" }, ... ]

                            </li>
                            <li class="row" style="margin-bottom: 10px;">
                                <b>Medications</b>: [ { "name": "medication_name", "dosage": "dosage_instructions", "start_date": "start_date", "end_date": "end_date" }, ... ] }
                                </li>    
                        </div>
                </td>
            </tr>

        </tbody>  
    </table>
</body>
</html>