<div id="chatBoxMainContainer" class="message-icons live-chat" style="opacity: 1; transform: translateY(0px);">
    <div role="region" aria-label="chat window" id="chatBoxMain" class="row">
        <div class="date-div" data-date="Today">
            <span data-i18n-text="text.today" class="date-button">Today</span>
        </div>
        <div role="group" aria-label="bot replied" aria-live="assertive" class="chat-message message-came from-them bot-message curved first except" title="Thu 4:44 PM" style="transform: translateY(0px); opacity: 1;"> 
            <span role="img" aria-label="from GoIndiGo" class="from-icon"></span>
            <div>Hello, I am Dottie, an AI powered assistant. I am here to help you with your queries. Please select a topic relevant to your query from the list below to proceed.</div>
        </div>
        <div class="clearfix"></div>
        <div data-i18n-timestamp="Thu Aug 31 2023 16:44:38 GMT+0530 (India Standard Time)" class="timestamp-bot hide">Thu 4:44 PM</div>
        <div aria-live="assertive" role="group" aria-label="bot replied" style="display: flex !important; transform: translateY(0px); opacity: 1;" class="chat-message message-came card-ele carousel new bot-message single-card" title="Thu 4:44 PM">
            <span role="img" aria-label="from GoIndiGo" class="from-icon" style="bottom: 0;"></span>
            <ul aria-label="List Options" style="list-style:none;padding-left:0;" class="collapse-container no-highlight-on-select">
            <li class="collapse">
            <div class="collapse-title">
            <div class="title"><strong>Flight Information</strong></div>
            <button data-testid="toggle-list-card-1" aria-expanded="false" title="Open list to show options under <strong>Flight Information</strong> category" class="plusIcon plusIcon_TO1S01693480479765"><i aria-hidden="true" class="ri-add-line"></i></button>
        </div>
   
            <li class="collapse"><div class="collapse-title"><div class="title"><strong>Payment Information</strong></div>
                <button data-testid="toggle-list-card-2" aria-expanded="false" title="Open list to show options under <strong>Payment Information</strong> category" class="plusIcon plusIcon_X3GUa1693480479765"><i aria-hidden="true" class="ri-add-line"></i></button>
            </div>
            
            
                
        </ul>
    </div>
    <div class="clearfix"></div>
    <div data-i18n-timestamp="Thu Aug 31 2023 16:44:39 GMT+0530 (India Standard Time)" class="timestamp-bot">Thu 4:44 PM</div>
</div>
    <div id="chatOptions" class="hide"></div>
  
  <div class="typingDiv" id="typing" style="display:none">
      <span role="img" aria-label="from GoIndiGo" class="from-icon"></span>
      <div>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
      </div>
  </div>
</div>