{% extends 'pathologist/basic_patho.html' %}

{% block title %} Pathologist Home Page {% endblock %}

{% block css %} 

<link rel="stylesheet" href="../static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <style>
    .container2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      margin-top: 10px;
      color: black;
    }
    .container1 {
      display: flex;
      font-family: 'Montserrat';
      justify-content: center;
      align-items: center;
      height: 5vh;
      margin-top: 10px;
      color: black
    }
    .container3 {
      display: flex;
      padding-left: 50px;
      margin-left: 350px;
      margin-right: 350px;
      background-color: grey;
      justify-content: center;
      align-items: center;
      height: 15vh;
      margin-top: 30px;
    }
    .card{
        display: inline-block;
        border: 2px solid black;
        border-radius: 10px;
        width: 23%;
        margin: 130px 14rem;
        height: 150px;
        background-color: whitesmoke;
    }
    .card h5{
    text-align: center;
    margin: 12px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    }
    #axc {
        text-align:center;
        margin: 27px;
        font-size: 15px;
        color:red;
        font-style: oblique;
        text-decoration: underline;
        cursor: pointer;
    }
    #exc {
        text-align:center;
        margin: 27px;
        font-size: 15px;
        color:red;
        font-style: oblique;
        text-decoration: underline;
        cursor: pointer;
    }
    #pxc {
        text-align:center;
        margin: 27px;
        font-size: 15px;
        color:red;
        font-style: oblique;
        text-decoration: underline;
        cursor: pointer;
    }
    #moxc {
        text-align:center;
        margin: 27px;
        font-size: 15px;
        color:red;
        font-style: oblique;
        text-decoration: underline;
        cursor: pointer;
    }
  </style> 
  {% endblock %}

{% block body %}

<div class="container1">
    <h3>Pathologist's Tool</h3>
</div>
<div class="card">
    <div class="cardbody">
        <h5 class="cardtitle">Access Test Reccomendation</h5>
        <marquee id = "axc"> <a href="{% url 'PathoAccess' %}">  Click here to access test reccomendation  </a>  </marquee>
    </div>
</div>
<div class="card">
    <div class="cardbody">
    <h5 class="cardtitle"> Upload Reports</h5>
    <marquee id = "exc"> <a href="{% url 'PathoEdit' %}"> Click here to upload reports </a> </marquee>
    </div>
</div>
<!-- </div> -->

{% endblock %}
