*
{
    margin: 0;
    padding: 0; 
    background-color: rgb(248, 249, 250);
}
.nav-bar{
    background: #1d4052;
    color:rgb(248, 249, 250);
    font-weight: bold;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-bar img{
    height: 45px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#homename {
    margin-right: 750px;
    font-family: 'Montserrat';
    font-size: 30px;
    border-radius: 10px;
    text-decoration: rgb(248, 249, 250);
    background-color: #1d4052;
    cursor: pointer;
}


#marq {
    margin-top: 10px;
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins";
}


#home {
    cursor: pointer;
    border-radius: 10px;
    background-color: #1d4052;
}
#menu {
    background-color:#1d4052 ;
}
.menu-right{
    text-align: right;
}
ul li{
    display: inline-block;
    margin: 15px;
    list-style: none;
    
}



.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 100px;
}

.dropbtn {
    background-color: #4CAF50;
    margin-top: 40px;
    color: white;
    padding: 12px;
    width: 160px;
    height: 35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px blanchedalmond;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.container1 {
  align-items: center;
  display: flex;
  height: 1vh;
  color: black;
}
.menu-right li:hover{
    background-color:grey;
}


#heading{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 450px;
}
.back{
    background:  no-repeat;
    height: 400px;
    width: 800px;
    margin-left: 350px;
    background-color: rgb(248, 249, 250);
}

.cright{
    font-family: 'Montserrat';
    font-size: 10px;
    color:black;
    text-align: center;
    /* padding-left: 25px;
    margin-left: 10rem; */
}
#missionSection{
    padding-top: 85px;
    height: 220px;
    text-align: center;
    margin: auto;
    background-color: rgb(248, 249, 250);
}
#missionSection1{
    padding-top: 15px;
    height: 220px;
    text-align: center;
    margin: auto;
    background-color: rgb(248, 249, 250);
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    margin: 10px 15px;
    height: 150px;
    background-color: rgb(248, 249, 250);
}
.card h4{
    text-align: center;
    margin: 12px;
    color: green;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    align-items: baseline;
    height: 90px;
    padding: 0 14px;
    margin: 2px 10px;
}
.card-img img{
    height: inherit; 
}

.card-content{
    padding: 0 10px;
}
.card-content p{
    font-size: 19px;
}
#about {
    text-align:inherit;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 19px;
    font-family: 'Montserrat';
}
@media only screen and (max-width: 700px){
    span
    {
        display: block;
    }
    ul li{
        display: block;
    }
    ul{
        display: none;
    }
}




