<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edited Successfully</title>
    <style>
    .result {
            color: {{ color }};
    }
    </style>
</head>
<body>
    <div style="text-align: center; margin-top: 200px; font-size:25px">
        
    <p>Your result for the test is : <span class="result">"{{result}}"</span>, please wait redirecting to home page</p> <br><br>
    <a href="{% url 'UserHome' %}" style="text-align: center; align-items: center;">Home</a>
    
    </div>
    <!-- <div style="text-align: center; margin-top: 20px">
        <a href="{% url 'UserHome' %}"> Back to Homepage</a>
    </div> -->
    <script>
        // setTimeout(function () {
        //     window.location.href = "{% url 'UserHome' %}";
        // }, 10000); 
        // Redirect after 4 seconds
    </script>
</body>
</html>