{% extends 'user/basic_user.html' %}  

{% block title %} User Health user_hdata {% endblock %}

{% block css %} 
<style>
        #container1{
            margin-top: 20px;
        }
        #container2{
            margin-top: 10px;
        }
       .container1 {
            display: flex;
            text-decoration-line: underline;
            font-weight: bolder;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            color: rgb(232, 30, 16)
    }
      .container2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px
    }
      .container3 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1px
    }    
    </style> 
    {% endblock %}
    
{% block body %} 
    <h3 style="color: black; font-family: 'Montserrat'; text-align:center">Your Health user_hdata</h3>
    <table id ="container1" class = "table table-dark  table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Gender [0-Male / 1-Female]</th>
            <th>Address</th>
            <th>Blood Pressure</th>
            <th>Glucose</th>
            <th>Insulin</th>
            <th>Cholestrol</th>
            <th>Heart Rate</th>
            <th>Step Count</th>
            
        </tr>
    </thead>
    <tbody>
          <tr>
            <td>{{ user_hdata.patient_id }}</td>
            <td>{{ user_hdata.fullname }}</td>
            <td>{{ user_hdata.age }}</td>
            <td>{{ user_hdata.gender }}</td>
            <td>{{ user_hdata.fulladdress }}</td>
            <td>{{ user_hdata.bloodpressure }}</td>
            <td>{{ user_hdata.glucosevalue }}</td>
            <td>{{ user_hdata.insulinvalue }}</td>
            <td>{{ user_hdata.cholestrol }}</td>
            <td>NV_DB</td>
            <td>NV_DB</td>
            <!-- <td>{{ user_hdata.sleepinghabits }}</td>
            <td>{{ user_hdata.brushinghabits }}</td> -->
            <!-- <td>{{ report.heart_rate }}</td>
            <td>{{ report.step_count }}</td> -->
          </tr>
      </tbody>
      
    </table>
    <table id ="container2" class = "table table-dark  table-hover">
        <thead>
        <tr>
            <th>Diabetes [0-No / 1-Yes]</th>
            <th>Heart Abnormalities [0-No / 1-Yes]</th>
            <th>CP Type </th>
            <th>BMI</th>
            <th>Daily Exercise [hrs]</th>
            <th>Brushing Habit [times/day]</th>
            <th>Prescription</th>
            <th>Test Recommendation</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NA_DB</td>
            <td>NA_DB</td>
            <td>NA_DB</td>
            <td>{{ user_hdata.bmi }}</td>
            <td>{{ user_hdata.dailyexercise }}</td>
            <td>{{ user_hdata.brushinghabits }}</td>
            <td>NA_DB</td>
            <td>NA_DB</td>
        </tr>     
   </tbody>
    </table>
    <div class="container1">
        <h2>Medical Report's</h2>
    </div>
    
    <div class="container2">
        <embed src="user_hdata:application/pdf;base64,{{base64user_hdata}}" width="60%" height="700px" />
    </div>
    <div class="container3">
        <a href="user_hdata:application/pdf;base64,{{base64user_hdata}}" download="file.pdf">Download Report</a>
    </div>
    <div class="container2">
        <embed src="user_hdata:image/jpg;base64,{{base64user_hdata1}}" width="60%" height="700px" />
    </div>
    <div class="container3">
        <a href="user_hdata:image/jpg;base64,{{base64user_hdata1}}" download="file.jpg">Download X-ray</a>
    </div>
    <!-- <div id ="cright">
        <h6 style="margin-top: 60px;"> Copyright &copy 2023 Developed by Indian Institute of Technology Indore | All rights reserved</h6>
    </div>   -->
{% endblock %}

{% block js %}

<script>
  $("#home").click(function () {
    location.href = "http://localhost:2500"
  })
  $("#homenamel").click(function () {
    location.href = "http://localhost:2500"
  })
  $("#uhome").click(function () {
    location.href = "http://localhost:3050"
  })
  
</script>
{% endblock %}
