<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe src="https://easiofydicomviewer-iit.netlify.app/?path=dheerajrane/dheerajfolder/3DABDOMEN.gltf" width="800" height="600" frameborder="0"></iframe>
    <!-- <iframe src="https://easiofydicomviewer-iit.netlify.app/?Patient=ganeshjee/ganeshyadav" width="800" height="600" frameborder="0"></iframe> -->
    <!-- <iframe src="https://easiofydicomviewer-iit.netlify.app/?Patient={{Patient}}" width="800" height="600" frameborder="0"></iframe> -->
</body>
</html>