{% extends 'user/basic_user.html' %}  {% load static %}

{% block title %} User Page {% endblock %}

{% block css %} 

<!-- Vendor CSS Files -->
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
<!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- <style>
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 10px;
  color: black;
}
.container1 {
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 30px;
  color: black
}
.container3 {
  display: flex;
  padding-left: 50px;
  margin-left: 350px;
  margin-right: 350px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 23%;
    margin: 130px 15px;
    height: 150px;
    background-color: whitesmoke;
}
.card h5{
text-align: center;
margin: 12px;
color: black;
font-size: 20px;
font-weight: bold;
font-family: 'Montserrat';
}
#axc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}
#exc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}
#dcxc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}
#moxc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}

#pxc {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: cursive;
  font-style: italic;
  color: azure;
  text-decoration: underline;
  cursor: pointer;
}
</style> -->
<!-- {% endblock %} -->

{% block body %}

    <!-- <div class="container1"><br><br>
        <h1>Digital Twin User Interface</h1>
    </div>
    <div class="card">
  <div class="cardbody">
    <a href="{% url 'HealthData' %}">
    <h5 class="cardtitle">Access Health Data</h5>
    <marquee id = "axc">Click here to access health data</marquee></a>
  </div>
</div>
<div class="card">
  <div class="cardbody">
    <a href="{% url 'EditHealthData' %}">
    <h5 class="cardtitle">Edit Health Data</h5>
    <marquee id = "exc">Click here to edit health data</marquee> </a>
  </div>
</div>
<div class="card">
  <div class="cardbody">
    <a href="{% url 'ConnectSmartWatch' %}">
    <h5 class="cardtitle">Connect Smartwatch</h5>
    <marquee id = "dcxc">Click here to connect your smartwatch</marquee> </a>
  </div>
</div>
<div class="card">
  <div class="cardbody">
    <a href="{% url 'DiagnosticTool' %}">
    <h5 class="cardtitle">Diagnostic Tool</h5>
    <marquee id = "moxc">Click here to open diagnostic tool</marquee> </a>
  </div>
</div> -->
  <!-- <div id ="cright">
        <h6 style="margin-top: 60px; margin-left: 37rem;"> Copyright &copy 2023 Developed by Indian Institute of Technology Indore | All rights reserved</h6>
    </div>   -->

    <main id="main">
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5">
          <!-- <div class="col-xl-4 col-lg-5" data-aos="fade-up"> -->
            <div class="content">
              <h3>Admin</h3>
              <!-- <h3>Why Choose Flexor for your company website?</h3> -->
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              </p>
              <div class="text-center">
                <!-- <a href="{% url 'ManagerLogin' %}" class="more-btn">Go to Admin Section <i class="bx bx-chevron-right"></i></a> -->
                
                <button type="button" class="more-btn" data-bs-toggle="modal" data-bs-target="#ManagerLoginModal">
                   Go To Admin Section 
                </button> 

              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>User</h4>
                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    <div class="text-center">
                      <button type="button" class="more-btn" data-bs-toggle="modal" data-bs-target="#UserLoginModal">
                        Go To User Section 
                     </button>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Doctor</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    <div class="text-center">
                      <!-- <a href="{% url 'DoctorLogin' %}" class="more-btn">Go to Doctor Section <i class="bx bx-chevron-right"></i></a> -->
                      <button type="button" class="more-btn" data-bs-toggle="modal" data-bs-target="#DoctorLoginModal">
                        Go To Doctor Section 
                     </button>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Pathologist</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    <div class="text-center">
                      <!-- <a href="{% url 'PathoLogin' %}" class="more-btn">Go to Pathologist Section <i class="bx bx-chevron-right"></i></a> -->
                      <button type="button" class="more-btn" data-bs-toggle="modal" data-bs-target="#PathologistLoginModal">
                        Go To Pathologist Section 
                     </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>   
    </main> 
    <!-- End Why Us Section -->

{% endblock %}

<script>
    $('#exc').click(function(){
        location.href = "{% url 'EditHealthData' %}"
    })
    $('#axc').click(function(){
        location.href = "{% url 'AccessHealthData' %}"
    })
    $('#dcxc').click(function(){
        location.href = "http://localhost:1234/gfitsecret"
    })
    $('#moxc').click(function(){
        location.href = "http://localhost:8501"
    })
    $("#home").click(function () {
    location.href = "http://localhost:2500"
  })
  $("#homenamel").click(function () {
    location.href = "http://localhost:2500"
  })
  
</script>
</html>