{% extends 'user/basic_user.html' %}  {% load static %}

{% block title %} User Page {% endblock %}

{% block css %} 

<!-- Vendor CSS Files -->
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
<!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Include jQuery and Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <style>
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 10px;
  color: black;
}
.container1 {
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 30px;
  color: black
}
.container3 {
  display: flex;
  padding-left: 50px;
  margin-left: 350px;
  margin-right: 350px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 23%;
    margin: 130px 15px;
    height: 150px;
    background-color: whitesmoke;
}
.card h5{
text-align: center;
margin: 12px;
color: black;
font-size: 20px;
font-weight: bold;
font-family: 'Montserrat';
}
#axc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}
#exc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}
#dcxc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}
#moxc {
    text-align:center;
    margin: 27px;
    font-size: 15px;
    color:red;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}

#pxc {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: cursive;
  font-style: italic;
  color: azure;
  text-decoration: underline;
  cursor: pointer;
}
</style> -->
<!-- {% endblock %} -->

{% block body %}

    <div class="container1"><br><br>
        <h1>Digital Twin User Interface</h1>
    </div>
<div class="card">
  <div class="cardbody" style="text-align: center; justify-content: center; align-items: center; padding-top: 22px;">
    <h3 class="cardtitle" style="padding-bottom: 15px; padding-top: 8px;">Access Health Data</h5>
    <h6> <a href="{% url 'HealthData' %}" style="color: blue;"> Click here to access health data </a> </h6>
    <!-- <marquee id = "axc">Click here to access health data</marquee></a> -->
  </div>
</div>
<div class="card">
  <div class="cardbody" style="text-align: center; justify-content: center; align-items: center; padding-top: 22px;">
    <h3 class="cardtitle" style="padding-bottom: 15px; padding-top: 8px;">Edit Health Data</h3>
    <h6> <a href="{% url 'EditHealthData' %}" style="color: blue;"> Click here to edit health data </a> </h6> 
    <!-- <marquee id = "exc">Click here to edit health data</marquee> </a> -->
  </div>
</div>
<div class="card">
  <div class="cardbody" style="text-align: center; justify-content: center; align-items: center; padding-top: 22px;">
    <h3 class="cardtitle" style="padding-bottom: 15px; padding-top: 8px;">Connect Smart Phone</h3>
    <h6> <a href="{% url 'ConnectSmartPhone' %}" style="color: blue;"> Click here to connect your smart phone </a> </h6>
    <!-- <marquee id = "dcxc">Click here to connect your smartwatch</marquee> </a> -->
  </div>
</div>
<div class="card">
  <div class="cardbody" style="text-align: center; justify-content: center; align-items: center; padding-top: 22px;">
    <h3 class="cardtitle" style="padding-bottom: 15px; padding-top: 8px;">Diagnostic Tool</h3>
    <h6> <a href="#" style="color: blue;"> Click here to use the diagnostic tool </a> </h6>
  </div>
</div> 

  <!-- <div id ="cright">
        <h6 style="margin-top: 60px; margin-left: 37rem;"> Copyright &copy 2023 Developed by Indian Institute of Technology Indore | All rights reserved</h6>
    </div>  

  

{% endblock %}

<script>
    $('#exc').click(function(){
        location.href = "{% url 'EditHealthData' %}"
    })
    $('#axc').click(function(){
        location.href = "{% url 'AccessHealthData' %}"
    })
    $('#dcxc').click(function(){
        location.href = "http://localhost:1234/gfitsecret"
    })
    $('#moxc').click(function(){
        location.href = "http://localhost:8501"
    })
    $("#home").click(function () {
    location.href = "http://localhost:2500"
  })
  $("#homenamel").click(function () {
    location.href = "http://localhost:2500"
  })
  
</script>
</html>